In [9]:
import numpy as np
import pandas as pd

In [6]:
X = pd.read_csv("dummy_X.csv", sep='\t', header=None)

In [7]:
y = pd.read_csv("dummy_y.csv", sep='\t', header=None)

In [8]:
y

    0
0   2
1   2
2   0
3   0
4   0
5   0
6   0
7   2
8   1
9   2
10  0
11  0
12  0
13  2
14  0
15  2
16  1
17  1
18  0
19  0

In [1]:
!ls

check_dummy.ipynb	dummy_X.csv	     my_sandbox.ipynb
cpp_playground.ipynb	dummy_y.csv
create_dummy_csv.ipynb	failed_openmp.ipynb